<html xmlns:th = "http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorator = "layout/admin_main.html">

<div layout:fragment = "admin_site_content">


    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-lg-3">
                <h1 class="my-4"></h1>
                <div class="list-group" th:insert="~{layout/admin_side_bar}"></div>


            </div>
            <!-- /.col-lg-3 -->


            <div class="col-lg-9">
                <div class="my-4" style="display: flex; justify-content: space-between">
                    <h1 style="margin:0;" th:text="${user.fullName}"></h1>
                </div>

                <div class="row mt-5">
                    <div class="col-6 offset-3">
                        <form th:action="@{'/edit_user'}" method="post">
                            <input type="hidden" th:value="${user.id}" name="user_id">
                            <div class="form-group">
                                <input name="user_email" th:value="${user.email}" type="email" class="form-control" th:placeholder="${user.email}" required>
                            </div>
                            <div class="form-group">
                                <input name="user_password" th:value="${user.password}" type="password" class="form-control" th:placeholder="#{label.update_password}" required>
                            </div>
                            <div class="form-group">
                                <input name="user_name" th:value="${user.fullName}" type="text" class="form-control" th:placeholder="${user.fullName}" required>
                            </div>
                            <div class="form-group">
                                <label>Role</label>
                                <select name="role_id" class="form-control">
                                    <option th:selected="${user.roles[0].name}"th:value="${user.roles[0].id}" th:text="${user.roles[0].name}"></option>
                                    <option th:each="r : ${roles}" th:text="${r.name}" th:value="${r.id}"></option>
                                </select>
                            </div>
                            <br>
                            <div class="form-group">
                                <button class="btn btn-success">SAVE</button>
                            </div>
                        </form>
                        <div>
                            <form th:action="@{'/delete_user'}" method="post">
                                <input name="user_id" type="hidden" th:value="${user.id}">
                                <button class="btn btn-danger">DELETE</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            <!-- /.col-lg-9 -->

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->


</div>
</html>