<html xmlns:th = "http://www.thymeleaf.org">

<a href="#" style="background-color: #343A40;" class="list-group-item active" th:text="#{label.dashboard}"></a>
<a th:href="@{/admin_users}" class="list-group-item" th:text="#{list-group.title_users}"></a>
<a th:href="@{/admin_roles}" class="list-group-item" th:text="#{list-group.title_roles}"></a>
<a th:href="@{/admin_items}" class="list-group-item" th:text="#{list-group.title_items}"></a>
<a th:href="@{/admin_countries}" class="list-group-item" th:text="#{list-group.title_countries}"></a>
<a th:href="@{/admin_brands}" class="list-group-item" th:text="#{list-group.title_brand}"></a>
<a th:href="@{/admin}" class="list-group-item" th:text="#{list-group.title_cat}"></a>
<a th:href="@{/admin_orders}" class="list-group-item" th:text="#{list-group.title_orders}"></a>

</html>