<html xmlns:th = "http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #156145;">
        <a class="navbar-brand" th:href="@{'/'}">ALL E-SHOP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{'/'}" th:text="#{label.home}"></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{'/admin_items'}" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MODERATOR')" th:text="#{label.admin}"></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{'/basket'}" th:if="${session.amount != null && session.amount > 0}" th:text="#{label.basket} + '(' + ${session.amount} + ')' "></a>
                <a class="nav-link" th:href="@{'/basket'}" th:if="${session.amount == null || session.amount == 0}" th:text="#{label.basket}"></a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="?lang=en">ENG</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="?lang=ru">RUS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="?lang=kz">KAZ</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{'/profile'}" th:text="${currentUser.fullName}"></a>
            </li>
            <li></li>
            <li class="nav-item" sec:authorize="isAnonymous()">
                <a class="nav-link" th:href="@{'/login'}">LogIn</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="JavaScript:void(0)" onclick="document.getElementById('logoutFormId').submit()">LogOut</a>
            </li>

            <form th:action="@{/logout}" method="post" id="logoutFormId" sec:authorize="isAuthenticated()">

            </form>
        </ul>

    </nav>
</html>