<html xmlns:th = "http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorator = "layout/main.html">

<div layout:fragment = "site_content">

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-lg-3">
                <h1 class="my-4"></h1>
                <div class="list-group">
                    <a href="#" style="background-color: #156145;" class="list-group-item active" th:text="#{list-group.title_cat}"></a>
                    <div th:each = "it : ${categories}">
                        <a href="#" class="list-group-item" th:text="${it.name}"></a>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">

                <div class="row" >
                    <div class="login-form">
                        <form th:action="@{'/auth'}" method="post">
                            <h2 class="text-center" th:text="#{label.login}"></h2>
                            <div class="form-group">
                                <input name="user_email" type="email" class="form-control" th:placeholder="#{label.email}" required>
                            </div>
                            <div class="form-group">
                                <input name="user_password" type="password" class="form-control" th:placeholder="#{label.password}" required>
                            </div>
                            <div class="form-group">
                                <button type="submit" style="background-color: #156145; color: white;" class="btn btn-block" th:text="#{label.login}"></button>
                            </div>
                            <div class="clearfix">
                                <label class="float-left form-check-label"><input type="checkbox" th:text="#{label.remember_me}"></label>
                                <a href="#" class="float-right" th:text="#{label.forgot_password}"></a>
                            </div>
                        </form>
                        <p class="text-center"><a th:href="@{/registration}" th:text="#{label.create_acc}"></a></p>
                    </div>

                </div>
                <!-- /.row -->

            </div>
            <!-- /.col-lg-9 -->

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->


</div>

</html>